.rc-tree-node-selected {
  background-color: #f7fafc;
  box-shadow: 0 0 0 1px #edf2f7;
}

.rc-tree .rc-tree-treenode {
  display: flex;
  align-items: center;
}

.rc-tree .rc-tree-treenode .rc-tree-node-content-wrapper {
  display: flex;
  align-items: center;
  padding: 20px;
}
